body {
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #FFF;
}

.form-container {
    max-width: 1157px;
    margin: 0 auto;
    padding: 20px;
    background-color: #008ad0;
    box-shadow: 0 0 10px rgba(241, 5, 5, 0.1);
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
    background-color: #0f5092;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buttons button:hover,
.buttons button:active {
    background-color: #008ad0;
}

.search-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-container input[type="text"],
.search-container select {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.search-container button {
    padding: 10px;
    background-color: #0f5092;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-container button img {
    width: 16px;
    height: 16px;
}

.search-container button:hover,
.search-container button:active {
    background-color: #008ad0;
}

.panel {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(241, 5, 5, 0.1);
    border-radius: 8px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
}

table th {
    cursor: pointer;
    background-color: #0f5092;
    color: #fff;
}

table td {
    background-color: #FFF;
}

table th:hover {
    background-color: #008ad0;
}

table td:hover {
    background-color: #f0f0f0;
}

button#ButtonDelet,
button#ButtonDelet {
    display: block;
    width: 70px;
    padding: 10px;
    background-color: #E67E73;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 0;
}

button#ButtonDelet:hover,
button#ButtonDelet:hover {
    background-color: #FF0000;
    color: #000;
}

button#viewButton,
button#viewButton {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: #297d77;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 0;
  }
  
button#viewButton:hover, 
button#viewButton:hover {
    background-color: #96e3d6;
    color: #000;
}

button#PainelButton,
button#PainelButton {
    display: block;
    width: 170px;
    padding: 10px;
    background-color: #EC7A48;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 0;
  }
  
button#PainelButton:hover, 
button#PainelButton:hover {
    background-color: #ffe5d9;
    color: #000;
}